<!DOCTYPE html>
<html lang="pl">
<head>
    {% include 'header.html' %}
    {% block content %}
    {% load static %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<body>
    <header class="header--form-page">

      <div class="slogan container container--90">
          <form method="post">
              {% csrf_token %}
          <h2>
            Are you sure you want to archive this donation?
          </h2>
          <h3>
    <input type="submit">
          </h3>
          </form>
      </div>
    </header>


{% include 'footer.html' %}
</body>

{% endblock %}
</html>