<!DOCTYPE html>
<html lang="pl">
<head>
    {% include 'header.html' %}
    {% block content %}
        {% load static %}
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        </head>
        <body>


        <section class="login-page">
            <h2>Zmień dane logowania</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                    <input type="submit" name="Submit">
                </div>
            </form>
        </section>
        </body>
    {% endblock %}
{% include 'footer.html' %}
</html>
